

body{

    background-image: url('../images/vaso-transparente-cerveza-mesa-madera.jpg')  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}