

body{

    background-image: url('../images/fondo1.jpg')  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

.navbar-orange {
    background-color: #fc9b39; /* Aquí puedes ajustar el valor hexadecimal para obtener el tono de naranja que desees */
}