.rounded-form {
    border-radius: 15px; /* Cambia este valor según el radio de esquina que prefieras */
}

.rounded-card {
    border-radius: 15px; /* Puedes ajustar este valor según tus preferencias */
}

.rounded-table {
    border-radius: 10px; /* Ajusta el radio de borde según sea necesario */
    overflow: hidden; /* Para ocultar cualquier desbordamiento que pueda ocurrir */
}

.navbar {
    border: 2px solid rgba(0, 21, 249, 0.507); /* Ajusta el grosor del borde según tus preferencias */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Esto aplica un sombreado suave */
    transition: 0.3s; /* Añade una transición suave al sombreado */
}

.product-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
  
  .counter-button {
    padding: 10px 20px;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: rgb(2, 2, 2);
    border-radius: 15px;
    margin: 0 10px;
  }
  
  .count-display {
    padding: 10px 20px;
    border-radius: 15px;
  }

  .rating-container {
    display: flex;
    margin-top: 10px;
  }
  
  .star {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .star.rated {
    color: #216ce7;
  }